<div id="volume_list_container">
    <% @volumes.each do |vol| %>
      <div class="volume_show">
        <div class='volume_show_img'  data-volume-id="<%= vol.id %>">
          <img src="<%= vol.image['thumb_url'] %>">
        </div>
        <%= vol.name %>
      </div>
    <% end %>
</div>


<div id="prev_page_button">
  <a href="/volumes/<%= @prev_page %>">Prev page</a>
</div>

<div id="next_page_button">
  <a href="/volumes/<%= @next_page %>">Next page</a>
</div>
